:root {
  --space-s: 10px;
  --space-s2: 12px;
  --space-d: 20px;
  --space-xl: 60px;
  --size--s: 14px;
  --size--d: 16px;
  --size--l: 20px;
  --size--b: 24px;
  --size--32: 32px;
  --size--xl: 36px;
  --weight-title: 700;
  --weight-text: 400;
  --color-text: #fff;
  --color-text2: #9ca3af;
  --color-button: #885ffb;
  --font-family: Roboto;
  --border-radius: 10px;
}
.page {
  display: flex;
  flex-direction: column;
  width: 1920px;
  justify-content: center;
  /* align-items: flex-start; */
  gap: var(--space-s);
  background: #111827;
}
/*-------Header--------------*/
.header {
  width: 1150px;
  height: 84px;
  margin-bottom: var(--space-xl);
}
.nav {
  display: flex;
  width: 1150px;
  height: 54;

  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #253041;
}
.nav_logo {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: var(--space-s);
  text-decoration: none;
  border-radius: var(--border-radius);
  background: var(--color-button);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.nav_logo:hover {
  opacity: 0.7;
}
.nav_logo:active {
  opacity: 0.3;
}
.nav_link {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--d);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 100%;
  text-decoration: none;
  padding: 0 24px 0 0;
}
.nav_link:last-of-type {
  padding: 0;
}
.nav_link:hover {
  opacity: 0.7;
}

.user {
  display: flex;
  width: 1150px;
  height: 30px;

  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.user_list {
  display: flex;
  align-items: center;
}
.user_logo {
  display: flex;
  padding: 2px 6px;
  align-items: flex-start;
  gap: var(--space-s);
  border-radius: 4px;
  background: rgba(136, 95, 251, 0.2);
  color: var(--color-button);
  font-family: var(--font-family);
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.user_text {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 100%;
  padding: 6px;
}
.url {
  display: flex;
  align-items: flex-start;
  color: var(--color-text);
  text-decoration: none;
}
.user_online {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 100%;
}
/*-------hero------------------------*/
.hero_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 1150px;
  height: 300px;
  padding: var(--size--32);

  border-radius: var(--size--b);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--space-xl);
}
.hero_title {
  color: var(--color-text);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--size--xl);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
  margin-bottom: var(--size--l);
}
.hero_text {
  color: var(--color-text2);
  text-align: center;
  font-family: Inter;
  font-size: var(--size--d);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 150%;
  margin-bottom: var(--space-d);
}
.hero_button {
  display: flex;
  text-decoration: none;
  width: 150px;
  height: 40px;
  padding: var(--space-s2);
  justify-content: center;
  align-items: center;
  gap: var(--space-s2);
  border-radius: var(--border-radius);
  background: var(--color-button);
  color: var(--color-text);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--size--d);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.hero_button:hover {
  opacity: 0.5;
}
.hero_button:active {
  opacity: 0.3;
}
/*---------------About----------------*/
.about {
  display: flex;
  padding: var(--size--32);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size--d);
  align-self: stretch;
  width: 1150px;
  border-radius: var(--size--b);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  margin-bottom: var(--space-xl);
}
.about_title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.about_text {
  color: var(--color-text2);
  font-family: Inter;
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 170%;
}
/*---------------Articles--------------*/
.article_block {
  width: 1150px;
  margin-bottom: var(--size--32);
  align-items: center;

  display: flex;
  justify-content: space-between;

  align-self: stretch;
  padding: 5px;
}
.article_title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--32);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.article_btn {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--size--d);
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text2);
}
.card_block {
  margin-bottom: var(--size--32);

  display: flex;
  justify-content: space-between;

  padding: 5px;

  width: 1150px;
  padding: 0 16px 0 0;
}
.article_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size--d);
  flex: 1 0 0;
  padding: 0 16px 0 0;
}
.card_img {
  width: 370px;
  height: auto;
}
.card_title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.card_text {
  color: var(--color-text2);
  font-family: var(--font-family);
  font-size: var(--size--s);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 150%;
}
.card_btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--border-radius);
  background: var(--color-button);
  color: var(--color-text);
  font-family: var(--font-family);
}
/*---------------Footer---------------*/
.footer_conteiner {
  display: flex;
  padding-bottom: 0px;

  align-items: center;
  gap: var(--size--d);

  width: 1150px;
  height: 64;

  justify-content: space-between;
}
.pages {
  display: flex;
  padding: 5px;
}
.footer_list {
  display: flex;
  padding: 16px 16px 32px 5px;
  align-items: center;
  gap: var(--size--d);
  text-decoration: none;
  color: var(--color-text);
}
.footer_text {
  display: flex;
  justify-content: flex-end;
  color: var(--color-text2);
  font-family: var(--font-family);
  font-size: var(--size--d);
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 100%;
  padding: 16px 16px 32px 0;
}
