.page {
  background: transparent;
  padding: 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
  background: transparent;
}

.header {
  padding: 24px;
}

.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background: rgb(82, 84, 82);
}
.nav {
  display: block;
}
.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  /* color: blue; */
  opacity: 50%;
}
.nav_vertical > .nav_link {
  display: block;
}
.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}
.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}
.header_nav_right {
  margin-left: auto;
  width: fit-content;
}
.page_block:not(:last-of-type) {
  margin: 80px;
}
.footer {
  padding: 24px 0;
}
.footer_copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;

  margin-top: 12 px;
}
.footer_title {
  font-size: 20px;
  color: #212529;
  display: block;

  margin-bottom: 12 px;
}
.hero_title {
  text-align: center;
  font-size: 56px;
  color: #212529;
  font-weight: 600;
  margin-bottom: 12px;
}
.hero_text {
  font-size: 20px;
  color: #1adf1a;
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
}

.plans_card:not(:last-of-type) {
  margin-right: 24px;
}
.card-header {
  padding: 12px;
  text-align: center;
  font-size: 24px;
  color: #292121;
}
.card-body {
  padding: 24px;
  text-align: center;
  color: white;
}
.card_price {
  text-align: center;
  margin-bottom: 24px;
}
.card_price_amount {
  font-size: 40 px;
  color: #212529;
}
.card_price {
  font-size: 29px;
  color: #6c757d;
}
.price_description {
  margin-bottom: 24px;
}
.card_description_item {
  font-size: 16px;
  color: #212529;
  display: block;
  text-align: center;
}
.card_description_item:not(:last-of-type) {
  margin-bottom: 12 px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19 px;
  padding: 9px;
}
p {
  background: grey;
  width: 600px;
  height: 400px;
  overflow-x: scroll;
}
.plans_card:nth-child(2) {
  visibility: hidden;
}
.hero_title {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 65px;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.hero_text {
  background-image: url('/img/test2.jpeg');
  /* background-attachment: local;
  background-position: bottom; */
  background-size: cover;
  border: 20px solid transparent;
  padding: 40px;
  color: green;
  /* background-origin: border-box; */
}
/* .page {
  background-color: transparent;
  background-image: url('/img/test2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
.card_block {
  list-style-type: upper-alpha;
  list-style-position: inside;

  /* list-style-image: url('/img/test.png'); */
  padding: 0;
}
.card_description_item {
  display: list-item;
}
.nav_link::after {
  /* content: url('/img/test2.jpeg'); */
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('/img/test2.jpeg');
}
.nav_link::after {
  margin-left: 15px;
}
